PORT = 
# for localhost
MONGODB_URI=mongodb://localhost:27017/your_database_name
JWT_SECRET=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password

FRONTEND_URL=http://localhost:3000